<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @post.published_at %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @post.draft %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong> Tags: </strong>
  <ul>
    <% @post.tags.each do |tag| %>
      <li><%= tag.name%></li>
    <% end %>
  </ul>
</p>  
<hr>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<hr>

<%= render 'comment', post: @post, comment: @comment %>

<hr>
<h3>Commentaires</h3>

<% @post.comments.reverse.each do |comment| %>
  <p>name:  <%= comment.name %> </p>
  <p>email:  <%= comment.email %> </p>
  <p>publié le:  <%= comment.created_at %> </p>
  <p>content:  <%= comment.content %> </p>
  <br>
<% end %>